.app {
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  flex-wrap: nowrap;
  color: #000;
}

.item-img-size {
  width: 300px;
  height: 250px;
}